/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 70% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .67)
    url('/resources/application/images/indicator.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.panel {
    max-height: 0;
    transition: 0.6s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

.panel.show {
    opacity: 1;
    max-height: 100%;
    overflow: hidden;
}

.arrow-up {
    border-bottom: 6px solid #006080;
    border-top: 0 !important;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    display: inline-block;
    border-top: 6px solid #006080;
}

.arrow-up-big {
    border-bottom: 10px solid #006080;
    border-top: 0 !important;
}

.arrow-big {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
    border-top: 10px solid #006080;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 3px 7px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.textarea {
    border-radius: 4px;
    color: #006080;
}

.dropdown {
    border-radius: 4px;
    color: #006080;
}

.label {
    color: #006080;
    font-size: 18px;
}